body{
    margin: 0em;
    padding: 0em;
    background-color: #d1ffe8;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    
}
#sub{
    width: 30%;
}
#brand{
    font-size: 4em;
    margin-bottom: 0em;
    margin-top: 0em;
}
#tit{
    margin-top: 0cm;
}
.diva{
    width: 90%;
    background-color: white;
    margin: auto;
    border-radius: 10px; 
}
#message{
    padding: 10%;
}
button{
    font-family: 'Cedarville Cursive', cursive;
    background-color: #a3ffe6 ;
    border-radius: 10px;
}
label{
    display:  block;
    padding: 20px;
}
#hehe{
    padding-top: 20px;
}

.nave{
    background-color: white;
 }
.nave a{
    margin: 0.5cm;
    text-decoration: none; 
}

.nave a.active{
    color: greenyellow;
}
.astro{
    border: solid black 4px;
}
.haha{
    font-family: 'Cedarville Cursive', cursive;
    background-color: white ;
    border-radius: 10px;
    margin: 14px;
    font-weight: bold;
}
.king{
    text-decoration: none;
    color: black;
}
form{
    width: 50%;
    margin: auto;
}
